<?xml version="1.0" encoding="utf-8"?>
<robot name="colony" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Model xacro file -->
  <xacro:include filename="module.xacro"/>

  <!-- Floating base -->
  <link name="colony_base"/>

  <xacro:module_instance prefix="r1_" parent="colony_base"
                         xyz="0.150000 0.000000 0" rpy="0 -1.5707963 1.5707963267948966"/>
  <xacro:module_instance prefix="r2_" parent="colony_base"
                         xyz="0.106066 0.106066 0" rpy="0 -1.5707963 2.356194490192345"/>
  <xacro:module_instance prefix="r3_" parent="colony_base"
                         xyz="0.000000 0.150000 0" rpy="0 -1.5707963 3.141592653589793"/>
  <xacro:module_instance prefix="r4_" parent="colony_base"
                         xyz="-0.106066 0.106066 0" rpy="0 -1.5707963 -2.356194490192345"/>
  <xacro:module_instance prefix="r5_" parent="colony_base"
                         xyz="-0.150000 0.000000 0" rpy="0 -1.5707963 -1.5707963267948966"/>
  <xacro:module_instance prefix="r6_" parent="colony_base"
                         xyz="-0.106066 -0.106066 0" rpy="0 -1.5707963 -0.7853981633974483"/>
  <xacro:module_instance prefix="r7_" parent="colony_base"
                         xyz="0.000000 -0.150000 0" rpy="0 -1.5707963 0"/>
  <xacro:module_instance prefix="r8_" parent="colony_base"
                         xyz="0.106066 -0.106066 0" rpy="0 -1.5707963 0.7853981633974483"/>
</robot>
